.welcome-screen, 
.question-screen, 
.end-screen 
{
display: flex;
flex-direction: column;

height: 100vh; 
align-items: center;          
justify-content: center;      
text-align: center;       
color: white;
background-image: url(./assets/Porte-Enfer.jpg);
background-size: cover;
background-position-x: center;
}

.welcome-screen 
{
flex-direction: column;
}

.question-screen, 
.end-screen 
{
display: none;
align-items: center;          
justify-content: center;      
text-align: center;       
}
.boxTitre{
    top: 200px;
    margin: 5px;
    

}
.boxTitre2{
    top: 500px;
    margin: 45px;
}

h2{
    text-align: center;
    width: 500px;
    margin: 1px;
    line-height: 0;
    font-family: 'Almendra', serif;
    font-size: 50pt;
    color: red;

    letter-spacing: 3px;
    animation: glitch1 0.5s infinite;
}
h2:nth-child(2){
    color: yellow);
    animation: glitch2 3s infinite;
}
h2:nth-child(3){
     color: teal;
       animation: glitch3 1.1s infinite;
}
h5 {
  font-family: 'Almendra', serif;
  font-size: 30px;
  height: 100px;
  width: 300px;
}

#compteur{
  font-size: 20px;
  color: yellow;
}

@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    8% {
      transform: skew(-0.5deg, -0.9deg);
      color: yellow;
      opacity: 01;
      text-shadow: 3px 3px 20px yellow;

    }
    10% {
      transform: none;
      opacity: 1;
      color: white;
    }
    28% {
      transform: none;
      opacity: 1;
      color: red;

    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    33% {
      transform: none;
      opacity: 1;
    }
    45% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    60% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    78% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;

    }
    8% {
      transform: translate(-1px, -1px);
      opacity: 01;
      text-shadow: 3px 3px 20px yellow;
    }
    10% {
      transform: none;
      opacity: 0.25;
 
      text-shadow: 3px 3px 20px red;
    }
    28% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-3px, -2px);
      opacity: 0.5;
    }
    33% {
      transform: none;
      opacity: 0.25;
    }
    45% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-3px, -1px);
      opacity: 0.5;
    }
    60% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    78% {
      transform: translate(-1px, -3px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
 @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    8% {
      transform: translate(1px, 1px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    28% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(2px, -6px);
      opacity: 0.5;
    }
    33% {
      transform: none;
      opacity: 0.25;
    }
    45% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(2px, -1px);
      opacity: 0.5;
    }
    60% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.3;
    }
    78% {
      transform: translate(1px, 3px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
